ollama
# whisper version must match hardware (CUDA/CPU or MPS)
faster-whisper sys_platform == 'windows' or sys_platform == 'linux'
mlx-whisper; sys_platform == 'darwin' and platform_machine == 'arm64'
scikit-learn
numpy
torchaudio
speechbrain
opencv-python
